#authContainer{
    background-color: #ffebcd;
    height: 400px;
    width: 300px;
    border: 10px solid #1f61a3;
    border-radius: 25px;
    float: right;
    margin: 10%;
}

.frmLogin, .frmSignup{
    height: 400px;
    width: 300px;

}

.msgAuth{

    margin-right: 15px;
    
}
.msgAuth button{
    margin-left: 10px;
}